*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#zonaformulario {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 10px;
}

form {
    display: inline-block;

}

#zonadatos {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 10px;
}

label {
    font-weight: bold;
}

input {
    width: 200px;
    padding: 8px;
    margin: 5px 0;
    margin-bottom: 15px;
}

button {
    background-color: rgb(108, 151, 211);
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(47, 77, 120);
}

button[disabled]{
    background-color: black;
}

#archivos {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


