/* styles.css */

/* Estilos para el body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para el formulario */
form {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
}

label {
    font-weight: bold;
}

select, input[type="text"] {
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="button"] {
    padding: 10px 20px;
    background-color: #4ca2af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#zonadatos {
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}